h1 {
  font-size: 52px;
  color: rgba(0, 0, 0, 0.9);
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(28, 124, 204, 0.5);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(28, 124, 204, 1);
}

.App {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-bottom: 50px;
}

.container {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  perspective: 1000px;
}
